/* Used to animate 'currently a ... India' */
@keyframes colorfadein {
    from{color:rgba(190, 190, 190, 0);}
    to{color: rgb(192, 192, 192);}
}

/* Used to slide up social links */
@keyframes table-slide-up {
    from {padding-top: 800px;}
    to {padding-top: 0px;}
}

/* Used to animate social links on hover */
@keyframes social-links-hov {
    from {color: rgb(97, 97, 97)}
    to {color: rgb(196, 196, 196);}
}

/* Used by the highlighted text 'student at NIT' */
@keyframes white-to-grey-to-dark {
    0% {
        background-color: rgb(151, 255, 255);
    }
    40% {
        background-color: rgb(94, 94, 94);
    }
    100% {
        background-color: rgb(230, 230, 230);
    }
}

/* Used to animate the Capital letters H and V */
@keyframes colorfadein-transparent {
    from{color:rgba(0, 0, 0, 0);}
    to{color: rgb(134, 134, 134);}
}

/* Used to animate my name */
@keyframes colorfadein-transparent-name {
    from{color:rgba(224, 224, 224, 0);}
    to{color: rgb(223, 223, 223);}
}

/* Used to animate the cards in the second half of the page */
@keyframes card-highlight {
    from {
        color: rgb(0,0,0);
        font-size: 2rem;
        background: rgba(255, 255, 255, 0);
    }
    to {
        color: rgb(255, 255, 255);
        font-size: 2.2rem;
        background: rgba(255, 255, 255, 0.3);
    }
}

/* Used to animate the text inside the card */
@keyframes card-highlight-font {
    from {
        color: rgb(0,0,0);
        font-size: 2rem;
        text-shadow: none;
        background: rgba(255, 255, 255, 0);
    }
    to {
        color: rgb(0, 0, 0);
        font-size: 2.2rem;
        text-shadow: 3px 3px rgb(196, 196, 196);
        background: rgba(255, 255, 255, 0.377);
    }
}

body {
    background: linear-gradient(to right, #000000, #434343);
    background-size: 0 50%;
    background-repeat: no-repeat;
    transition: background .5s;
    background-position: 0 0.2em;
}

hr {
    border-top: 1px solid black;
}

.col-xl-9, .col-xl-3, .col-md-12 {
    margin: 0px;
    padding: 0px;
}

.introduction {
    background: linear-gradient(to bottom right, #000000, #575757);
}

.jumbo {
    

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    color: black;
    
}

.different-font {
    color: rgba(0, 0, 0, 0);
    font-size: 180px;
    font-family: 'Fredericka the Great', sans-serif;
    font-weight: 400;

    animation-name: colorfadein-transparent;
    animation-delay: 0.5s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.jumbo h1 {
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0);

    padding-top: 25%;
    /* padding-bottom: 25%; */
    padding-left: 50px;
    margin-bottom: 0px;

    animation-name: colorfadein-transparent-name;
    animation-delay: 1s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.jumbo p {
    font-family: 'Orbitron', sans-serif;
    font-size: 1rem;
    /* font-weight: 800; */
    margin-top: 0px;
    padding-left: 65px;
    padding-bottom: 25%;
    color: rgba(255, 255, 255, 0);

    animation-name: colorfadein;
    animation-delay: 1.5s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.text-stand-out {
    /* background-color: rgb(255, 255, 255); */
    color: #242424;

    animation-name: white-to-grey-to-dark;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.social-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* box-shadow: -2px 0px 5px black; */
    /* height: 153%; */
    font-size: 2.5rem;
    /* padding-top: 20px; */
    padding-left: 50px;
}

.social-links i {
    font-size: 5rem;
    color: rgb(199, 199, 199);
}

.social-links table {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    /* font-weight: 600; */
    font-size: 2rem;

    padding-top: 800px;

    animation-name: table-slide-up;
    animation-delay: 0.7s;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(.11,.56,.28,.99);
    animation-fill-mode: forwards;
}

.social-links table td {
    padding-top: 30px;
    padding-bottom: 30px;
    
    text-align: center;
}


.social-links table tr a {
    text-decoration: none;
    font-weight: 200;
    color: rgb(100, 100, 100);
    padding-left: 5px;
    padding-top: 3px;
}

.social-links table tr a:hover {
    text-decoration: none;
    animation-name: social-links-hov;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

.chevrons {
    margin-top: -12%;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px;

}

.arrowScrollDown svg {
    opacity: 0;
    animation: arrowAnimation 1.8s infinite ease-out;
    animation-delay: 2.7s;
}


@keyframes arrowAnimation {
    0% {
      transform: translateY(-20px);
      opacity: 0
    }
    30% {
      opacity: 1
    }
    60% {
      opacity: 1
    }
    to {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
      opacity: 0
    }
  }

.col-md-12 {
    display: flex;
    flex-flow: row wrap;
}

.barcode {
    /* background: linear-gradient(to left, #e3ffd1, #c78d4a); */
    background-color: rgb(235, 235, 235);

    color: black;
    text-decoration: none;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    font-family: 'Libre Barcode 39';
    font-size: 80px;

    height: 100px;
    padding-right: 50px;

    box-shadow: 0px 1px 5px rgb(0,0,0);
}

.barcode a {
    color: black;
    text-decoration: none;
}

hr {
    background: linear-gradient(130deg, #ff3503, black, #00d9ff);
}

.footer {
    box-shadow: 0px 0px 7px black;
    border-top: 1px solid black;
    background-color: rgb(211, 211, 211);
}

.footer-links {
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 27px;
}

.footer-links ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;

    list-style-type: none;
}

.footer-links li {
    /* border: 2px solid black; */
    padding: 25px 50px;
}

.footer-links a {
    text-decoration: none;
    color: black;

    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

.circleScaleBtn {
    padding: 12px 24px;
    background-color: rgb(211, 211, 211);
    color: rgb(109, 104, 209);
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    z-index: 1;
}

.circleScaleBtn span {
    z-index: 1;
    position: relative;
}

.circleScaleBtn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 200%;
    border-radius: 50%;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
    transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
    background-color: rgb(82, 82, 82);
    opacity: 0;
}

.circleScaleBtn:hover::before {
    opacity: 1;
    transition-duration: .85s;
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}


.about {
    background-color: rgb(216, 216, 216);
}

.about-light {
    background-color: rgb(235, 235, 235);
}

.about-info-school {
    background: url('undraw_relaunch_day_902d.svg');
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 85%;
    background-position-y: 50%;

    padding: 100px;
}

.about-info-school h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.7rem;
    text-decoration: underline solid rgb(29, 26, 48);
}

.about-info-school p {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(14, 15, 26, 0.658);

    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
    color: white;
}

.about-info-college {
    background: url('undraw_launch_day_4e04.svg');
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 15%;
    background-position-y: 50%;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

    padding: 100px;
}

.about-info-college h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.7rem;
    text-decoration: underline solid rgb(29, 26, 48);
}

.about-info-college p {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(14, 15, 26, 0.658);

    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
    color: white;
}

.about-info-mission {
    background: url('undraw_statistic_chart_38b6.svg');
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-x: 85%;
    background-position-y: 50%;

    padding: 100px;
}

.about-info-mission h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 6.7rem;
    text-decoration: underline solid rgb(29, 26, 48);
}

.about-info-mission p {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(14, 15, 26, 0.658);

    font-family: 'Raleway', sans-serif;
    font-size: 1.15rem;
    color: white;
}