@keyframes fade-out {
    from{opacity: 1}
    to{opacity: 0}
}

@keyframes fade-in {
    from{opacity: 0}
    to{opacity: 1}
}

@keyframes glow {
    from{text-shadow: none}
    to{text-shadow: 2px 2px greenyellow;}
}

body {
    background-color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;
}

h1 {
    margin: -5px auto;
    font-size: 3rem;
}

.great, .guessing-game {
    margin-top: -15px;
    margin-bottom: -15px;
}

.color-code {
    font-family: 'Space Mono', monospace;
    text-shadow: 2px 2px greenyellow;
    font-size: 5rem;
}

.header {
    height: 20%;
    padding: 50px 30px 28px 30px;
    margin: 0 auto;
    background-color: grey;

    font-family: 'Lobster', sans-serif;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.color-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 5px;
    height: 450px;
}

.color {
    margin: 8px;
    /* padding-bottom: 30%; */
    height: 46%;
    background-color: white;
    float: left;
    width: 28%;
    border-radius: 15px;
    border: 3px solid rgb(0, 0, 0);
}

.fade-out {
    animation-name: fade-out;
    animation-duration: 0.15s;
    animation-fill-mode: forwards;
}

.settings-bar {
    display: flex;
    justify-content: space-evenly;

    background-color: rgb(177, 252, 255);
    padding: 10px;

    font-family: 'Lobster', cursive;
}

.correct {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    animation-name: glow;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.copyright {
    background-color: rgb(22, 22, 22);
    margin-top: 60px;
    padding-left: 30px;
    
    font-family: 'Space Mono', monospace;
    text-align: center;
    text-shadow: 1px 1px greenyellow;
    color: rgb(148, 148, 148);
    font-size: 20px;
}

.copyright p {
    margin-bottom: 0;
}

.info {
    background-color: rgb(31, 31, 31);
    padding-top: 60px;
    padding-bottom: 60px;
    color: rgb(148, 148, 148);
}

.info h1 {
    font-family: 'Space Mono', monospace;
    font-size: 4rem;
    margin-left: 30px;
}

.info h3 {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    padding-left: 30px;
}

.info p {
    font-family: 'Space Mono', monospace;
    padding-left: 30px;
}

.arrowFromLeft {
    overflow: hidden;
    padding: 0px 30px;
    border-radius: 6px;
    background-color: rgb(177, 252, 255);
    color: hsl(0, 0%, 0%);
    position: relative;
}

.arrowFromLeft div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrowFromLeft:hover span {
    transform: translateX(25px);
}

.arrowFromLeft:hover svg {
    opacity: 1;
    transform: translate(15px, -50%);
}

.arrowFromLeft span {
    display: inline-block;
    transition: transform .3s cubic-bezier(.455,.03,.515,.955);
}

.arrowFromLeft svg {
    position: absolute;
    top: 50%;
    left: 10px;
    fill: greenyellow;
    opacity: 0;
    transform: translate(-10px, -50%);
    transition: opacity .3s .05s cubic-bezier(.455,.03,.515,.955), transform .3s .05s cubic-bezier(.455,.03,.515,.955);
}

.borderMarker {
    position: relative;
}

.borderMarker span {
    z-index: 1;
    position: relative;
}

.borderMarker::after {
    content: "";
    position: absolute;
    left: -0.1px;
    right: -0.1px;
    bottom: 0;
    height: 100%;
    transform: scaleY(.3);
    transition: transform .1s ease-in-out;
    transform-origin: bottom;
    background-color: greenyellow;
}

.borderMarker:hover::after {
    transform: scaleY(1);
}

.borderLeftRight {
    display: inline-block;
    position: relative;
    color: rgb(148, 148, 148);
}

.borderLeftRight::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: greenyellow;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.borderLeftRight span {
    z-index: 2;
}
  